/* CSS (styles.css) */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.navbar {
    background-color: #007bff;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.footer {
    text-align: center;
    /* padding: 10px; */
    padding: 10px 0;
    background-color: #f0f0f0;
    position: relative;
    bottom: 0;
    width: 100%;
}

img{
    width: 10%;
    height: 10%;
}

button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0.5rem;
}

button:hover{
    background-color : #555;
}

.textarea{
    width: 40%;
    height: 40%;
}
